@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="top-bar">
    <div class="container">
        <a><i class="fa-sharp fa-solid fa-chevron-left"></i></i></a>
        <div class="category-title">
            Best Sellers
        </div>
        <button>
            <i class="fa-light fa-bag-shopping"></i>
        </button>
    </div>
</section>

<section class="filters">
    <div class="container">
        <button class="filter-btn"><i class="fa-light fa-sliders-up"></i>Filters</button>
        <div class="dropdown">
            <button onclick="toggleDropdown()" class="drop-btn">Sorting by <i class="fa-sharp fa-thin fa-chevron-down"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">One</a>
                <a href="#">Two</a>
                <a href="#">Three</a>
            </div>
        </div>
    </div>
</section>

<section class="featured-products">
    <div class="container">
        <div class="section-title">
            <h3>Featured Products</h3>
            <a>view all<i class="fa-regular fa-chevron-right"></i></a>
        </div>
        <div class="product-grid">
            <div class="product-card">
                <div class="product-image">
                    <button><i class="fa-light fa-heart"></i></button>
                    <button><i class="fa-light fa-bag-shopping"></i></button>
                </div>
                <div class="product-content">
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <p>(3)</p>
                    </div>
                    <p>Summer Pants</p>
                    <div class="price">
                        <p class="original-price"></p>
                        <p class="discount-price">$31.50</p>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span>SALE</span>
                    <button><i class="fa-light fa-heart"></i></button>
                    <button><i class="fa-light fa-bag-shopping"></i></button>
                </div>
                <div class="product-content">
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <p>(3)</p>
                    </div>
                    <p>Black pants</p>
                    <div class="price">
                        <p class="original-price">$36.00</p>
                        <p class="discount-price discount">$15.98</p>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <button><i class="fa-light fa-heart"></i></button>
                    <button><i class="fa-light fa-bag-shopping"></i></button>
                </div>
                <div class="product-content">
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <p>(3)</p>
                    </div>
                    <p>Summer pants</p>
                    <div class="price">
                        <p class="original-price">$36.00</p>
                        <p class="discount-price discount">$15.98</p>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <button><i class="fa-light fa-heart"></i></button>
                    <button><i class="fa-light fa-bag-shopping"></i></button>
                </div>
                <div class="product-content">
                    <div class="stars">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <i class="fa-sharp fa-light fa-star"></i>
                        <p>(3)</p>
                    </div>
                    <p>Summer pants</p>
                    <div class="price">
                        <p class="original-price">$36.00</p>
                        <p class="discount-price discount">$15.98</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<partial name="/Views/Partials/_NavbarPartial.cshtml" />
