@{
    ViewData["Title"] = "Wishlist";
}


<section class="wishlist">
    <div class="container">
        <div class="gridbox">
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
            <!-- Repeat this structure for each "gridbox-small" element -->
            <div class="gridbox-small">
                <div class="test-img">
                    <div class="img-sale"><p>Sale</p></div>
                </div>
                <div class="gridbox-body">
                    <p class="article-name">article.Name</p>
                    <p class="article-price">
                        article.Price<span class="on-sale" style="color:red">sale.Price</span>
                    </p>
                    <p class="rating">article.Rating<a href="/review" span class="article-review">article.Review</span></a>
                </div>
            </div>
            <!-- Repeat this structure for each "gridbox-small" element -->
        </div>
    </div>
</section>


<partial name="/Views/Partials/_NavbarPartial.cshtml" />