<section class="navbar">
    <div class="container">
        <div class="navigation border">
            <a class="nav-links" href="#"><i class="fa-light fa-house"></i></a>
            <a class="nav-links" href="#"><i class="fa-light fa-magnifying-glass"></i> </a>
            <a class="nav-links" href="#"><i class="fa-light fa-bag-shopping"></i></a>
            <a class="nav-links" href="#"><i class="fa-light fa-heart"></i> </a>
            <a class="nav-links" href="#"><i class="fa-light fa-circle-user"></i></a>
        </div>
    </div>
</section>