@model ProductGridItemVM

@{
    // Serialize the entire model to JSON
    string serializedModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<a asp-controller="ProductDetails" asp-action="Product" asp-route-id="@Model.Id">
<div class="product-card">
    <div class="product-image">
        <button><i class="fa-light fa-heart"></i></button>
        @using (Html.BeginForm("Index", "ShoppingCart", FormMethod.Post))
        {
            <input type="hidden" id="modelData" name="modelData" value='@Html.Raw(serializedModel)' />
            <button type="submit"><i class="fa-light fa-shopping-bag"></i></button>
        }
    </div>
    <div class="product-content">
        <div class="stars">
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="fa-sharp fa-solid fa-star"></i>
            }
            <p>(@Model.Rating)</p>
        </div>
        <p>@Model.Name</p>
        <div class="price">
            <p class="original-price"></p>
            <p class="discount-price">$@Model.Price.ToString("0.00")</p>
        </div>
    </div>
</div>
</a>