@model ProductGridVM

@if (Model.GridItems != null)
{
    <div class="product-grid">
        @foreach (var item in Model.GridItems)
        {
            <partial name="/Views/Partials/_ProductGridItem.cshtml" model="item" />
        }
    </div>
}




<div class="product-card">
    <div class="product-image">
        <span>SALE</span>
        <button><i class="fa-light fa-heart"></i></button>
        <button><i class="fa-light fa-bag-shopping"></i></button>
    </div>
    <div class="product-content">
        <div class="stars">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <p>(3)</p>
        </div>
        <p>Black pants</p>
        <div class="price">
            <p class="original-price">$36.00</p>
            <p class="discount-price discount">$15.98</p>
        </div>
    </div>
</div>
<div class="product-card">
    <div class="product-image">
        <button><i class="fa-light fa-heart"></i></button>
        <button><i class="fa-light fa-bag-shopping"></i></button>
    </div>
    <div class="product-content">
        <div class="stars">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <p>(3)</p>
        </div>
        <p>Summer pants</p>
        <div class="price">
            <p class="original-price">$36.00</p>
            <p class="discount-price discount">$15.98</p>
        </div>
    </div>
</div>
<div class="product-card">
    <div class="product-image">
        <button><i class="fa-light fa-heart"></i></button>
        <button><i class="fa-light fa-bag-shopping"></i></button>
    </div>
    <div class="product-content">
        <div class="stars">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <i class="fa-sharp fa-light fa-star"></i>
            <p>(3)</p>
        </div>
        <p>Summer pants</p>
        <div class="price">
            <p class="original-price">$36.00</p>
            <p class="discount-price discount">$15.98</p>
        </div>
    </div>
</div>