@{
}
<div class="product-grid">
    <div class="product-card">
        <div class="product-image">
            <button><i class="fa-light fa-heart"></i></button>
            <button><i class="fa-light fa-bag-shopping"></i></button>
        </div>
        <div class="product-content">
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <p>(3)</p>
            </div>
            <p>Summer Pants</p>
            <div class="price">
                <p class="original-price"></p>
                <p class="discount-price">$31.50</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span>SALE</span>
            <button><i class="fa-light fa-heart"></i></button>
            <button><i class="fa-light fa-bag-shopping"></i></button>
        </div>
        <div class="product-content">
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <p>(3)</p>
            </div>
            <p>Black pants</p>
            <div class="price">
                <p class="original-price">$36.00</p>
                <p class="discount-price discount">$15.98</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <button><i class="fa-light fa-heart"></i></button>
            <button><i class="fa-light fa-bag-shopping"></i></button>
        </div>
        <div class="product-content">
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <p>(3)</p>
            </div>
            <p>Summer pants</p>
            <div class="price">
                <p class="original-price">$36.00</p>
                <p class="discount-price discount">$15.98</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <button><i class="fa-light fa-heart"></i></button>
            <button><i class="fa-light fa-bag-shopping"></i></button>
        </div>
        <div class="product-content">
            <div class="stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <i class="fa-sharp fa-light fa-star"></i>
                <p>(3)</p>
            </div>
            <p>Summer pants</p>
            <div class="price">
                <p class="original-price">$36.00</p>
                <p class="discount-price discount">$15.98</p>
            </div>
        </div>
    </div>
</div>