@{
}
<section class="account-relative">
    <div class="account-background-dark">
        <div style="width: 100%;"><partial name="/Views/ProfilePage/Index.cshtml" /></div>
        <div class="signout-popup-position">
            <div class="signout-popup">
                <div class="signout-popup-white">
                    <div class="order-line"></div>
                    <h3 class="mt-2">Are you sure you want</h3>
                    <h3 class="mb-2 pb-2">to sign out ?</h3>
                    <a asp-controller="signout">
                        <span>SURE</span>
                    </a>                   
                    <a class="a-white mb-5" asp-controller="profilepage">
                        <span>CANCEL</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

