@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="top-bar">
    <div class="container">
        <button><i class="fa-solid fa-bars-staggered"></i></button>
        <div class="searchbar">
            <i class="fa-light fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>
        <button>
            <i class="fa-light fa-bag-shopping"></i>
        </button>
    </div>
</section>

<section class="browse-categories">
    <div class="container">
        <div class="category">MEN</div>
        <div class="category">WOMEN</div>
        <div class="category">KIDS</div>
        <div class="category">ACCESSORIES</div>
    </div>
</section>

<section class="product-categories">
    <div class="product-categories-grid">
        <div class="category item1">Dresses</div>
        <div class="category item2">Pants</div>
        <div class="category item3">Accessories</div>
        <div class="category item4">Shoes</div>
        <div class="category item5">T-shirts</div>
    </div>
</section>

<partial name="/Views/Partials/_NavbarPartial.cshtml" />