@model ProductGridVM

<section class="top-bar">
    <div class="container">
        <a asp-controller="categories" asp-action="Index"><i class="fa-sharp fa-solid fa-chevron-left"></i></a>
        <div class="category-title">
            Best Sellers
        </div>
        <button>
            <i class="fa-light fa-bag-shopping"></i>
        </button>
    </div>
</section>

<section class="filters">
    <div class="container">
        <button class="filter-btn"><i class="fa-light fa-sliders-up"></i>Filters</button>
        <div class="dropdown">
            <button onclick="toggleDropdown()" class="drop-btn">Sorting by <i class="fa-sharp fa-thin fa-chevron-down"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">One</a>
                <a href="#">Two</a>
                <a href="#">Three</a>
            </div>
        </div>
    </div>
</section>

<partial name="/Views/Partials/_ProductGrid.cshtml" model="@Model" />


<partial name="/Views/Partials/_NavbarPartial.cshtml" />
