


<section class="section-mypromocodes">
    <div class="container">
        <div class="header-mypromocodes">
            <a asp-controller="profilepage"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>My Promocodes</h1>
        </div>
    </div>

    <div class="header-btg mt-4 mb-4">
        <a asp-controller="mypromocodes"><button class="mx-1 promocodes-btg-blue">Current</button></a>
        <a asp-controller="mypromocodesused"><button class="mx-1 promocodes-btg-black">Used</button></a>
    </div>
</section>