@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <section class="section-order-failed-successful">
        <div class="container">
            <img src="/images/page39-order-successful.svg" alt="Order successful">
            <div class="order-line mb-3"></div>
            <h2>Thank you for your order!</h2>
            <p class="mb-4 p-order">Your order will be delivered on time. Thank you!</p>
            <button class="button-theme mb-4">VIEW ORDERS</button>
            <p>CONTINUE SHOPPING</p>
        </div>
    </section>
</body>