@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="welcome-page">
    <section class="loader">
        <div class="container">
            <div class="outer-ring">
                <span></span>
                <h1>MANERO</h1>
                <div class="middle-ring">
                </div>
            </div>
            </div>
    </section>

    <section class="welcome-navigation">
        <div class="outer-ring">
            <div class="middle-ring">
                <div class="circles">
                    <div class="content">
                        <span class="vertical-line"></span>
                        <h1>Welcome To Manero!</h1>
                        <p>
                            Labore sunt culpa excepteur culpa ipsum.
                            Labore occaecat ex nisi mollit.
                        </p>
                        <a asp-action="Index" asp-controller="Home" class="button-theme">GET STARTED</a>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="content">
                        <span class="vertical-line"></span>
                        <h1>Easy Track Order!</h1>
                        <p>
                            Labore sunt culpa excepteur culpa ipsum.
                            Labore occaecat ex nisi mollit.
                        </p>
                        <a asp-action="Index" asp-controller="Home" class="button-theme">GET STARTED</a>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="content">
                        <span class="vertical-line"></span>
                        <h1>Door To Door Delivery!</h1>
                        <p>
                            Labore sunt culpa excepteur culpa ipsum.
                            Labore occaecat ex nisi mollit.
                        </p>
                        <a asp-action="Index" asp-controller="Home" class="button-theme">GET STARTED</a>
                        <span class="horizontal-line"></span>
                    </div>
                </div>
                <nav class="circle-pagination">
                    <button class="current dots  first "></button>
                    <button class="dots second"></button>
                    <button class="dots third"></button>
                </nav>
            </div>
        </div>
    </section>

</body>