@model Manero.Models.Identity.AppUser




@{
    ViewData["Title"] = "Profile Page";
}

<section class="top-bar">
    <div class="container">
        <button><i class="fa-solid fa-bars-staggered"></i></button>
        <div class="logo">
            <span></span>
            <h4>My Profile</h4>
        </div>
        <button>
            <i class="fa-light fa-bag-shopping"></i>
        </button>
    </div>
</section>

<section class="account">
    <div class="container">
        <div class="account-image">
            @if (User.Identity.IsAuthenticated)
            {
                @if (Model != null && !string.IsNullOrEmpty(Model.UploadProfileImage))
                {
                    <img src="@Model.UploadProfileImage">
                }
                else
                {
                    <img src="/images/page10-account-created.svg">
                }
            }
            <a asp-controller="EditProfile" asp-action="Index"><i class="fa-light fa-pen profile-icon"></i></a>
        </div>
        <div class="account-info">
            @if (Model != null)
            {
                <p class="account-name">@Model.FirstName @Model.LastName</p>
                <p class="account-email">@Model.Email</p>
            }
        </div>
    </div>
</section>


<div class="account-links">
    <a href="#">
        <i class="icon"><i class="fa-light fa-calendar"></i></i>
        <p>Order History</p>
        <span class="chevron"><i class="fa-regular fa-chevron-right"></i></span>
    </a>
    <a href="#">
        <i class="icon"><i class="fa-light fa-credit-card"></i></i>
        <p>Payment Method</p>
        <span class="chevron"><i class="fa-regular fa-chevron-right"></i></span>
    </a>
    <a asp-controller="myaddresses">
        <i class="icon"><i class="fa-light fa-location-dot"></i></i>
        <p>My Address</p>
        <span class="chevron"><i class="fa-regular fa-chevron-right"></i></span>
    </a>
    <a href="#">
        <i class="icon"><i class="fa-light fa-gift"></i></i>
        <p>My Promocodes</p>
        <span class="chevron"><i class="fa-regular fa-chevron-right"></i></span>
    </a>
    <a asp-controller="signout">
        <i class="icon"><i class="fa-regular fa-arrow-right-from-bracket"></i></i>
        <p>Sign Out</p>
        <span class="chevron"><i class="fa-regular fa-chevron-right"></i></span>
    </a>
</div>

<partial name="/Views/Partials/_NavbarPartial.cshtml" />