@model EditProfileVM

@{

    ViewData["Title"] = "Edit Profile";

}
<section class="top-bar">
    <div class="container">
        <button><i class="fa-solid fa-bars-staggered"></i></button>
        <div class="logo">
            <span></span>
            <h4>Edit Profile</h4>
        </div>
        <button>
            <i class="fa-light fa-bag-shopping"></i>
        </button>
    </div>
</section>

<section class="account">
    <div class="container">
        <div class="account-image">           
            
            <form method="post" asp-action="UploadProfileImage" enctype="multipart/form-data">
                <div class="account-image">
                    @if (Model.ImageData != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" />
                    }
                    <label for="UploadProfileImage" style="display: none;">Välj fil</label>
                    <i class="fa-light fa-camera profile-icon"></i>
                    <input asp-for="UploadProfileImage" type="file" id="UploadProfileImage" />
                </div>
                <button type="submit" class="button-theme">Save Changes</button>
            </form>
        </div>     

    </div>
</section>

<section class="edit-profile">
    <div class="container">
        <form>
            <div class="input-grp">
                <label>Name</label>
                <input type="text">
            </div>
            <div class="input-grp">
                <label>Email</label>
                <input type="text">
            </div>
            <div class="input-grp">
                <label>Phone Number</label>
                <input type="text">
            </div>
            <div class="input-grp">
                <label>Location</label>
                <input type="text">
            </div>
            <button class="button-theme">Save Changes</button>

        </form>
    </div>
</section>
