@{
    ViewData["Title"] = "Account Created";
}

<section class="section-order-failed-successful">
    <div class="container">
        <img src="/images/page10-account-created.svg" alt="Account Created">
        <div class="d-flex justify-content-center"><div class="order-line mb-3"></div></div>
        <h2>Account Created!</h2>
        <p class="mb-4 p-order">Your account had beed created successfully.</p>
        <a asp-controller="Home" asp-action="Index" class="a-link-theme mt-5">SHOP NOW</a>
    </div>
</section>

