@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <section class="section-order-failed">
        <div class="container">
            <img src="/images/page40-order-failed.svg" alt="Order failed">
            <div class="order-line mb-3"></div>
            <h2>Sorry! Your order has failed!</h2>
            <p class="mb-4 p-order">Something went wrong. Please try again to continue your order.</p>
            <button class="button-theme mb-4">TRY AGAIN</button>
            <p>GO TO MY PROFILE</p>
        </div>
    </section>
</body>