@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,700;0,9..40,900;0,9..40,1000;1,9..40,500&family=Mulish:wght@400;600;700&display=swap");



.button-theme {
    background-color: #111111;
    border: none;
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 60px;
    width: 335px;
    height: 50px;
}

a {
    color: #111111;
    text-decoration: none;
}

.vertical-line {
    background-color: #111111;
    border-radius: 3px;
    width: 1px;
    height: 30px;
    margin-bottom: 1rem;
}

.input-grp{
    position:relative;
}

.input-grp input {
    border: 1px solid #DBE3F5;
    color: #111111;
    padding-left: 30px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 60px;
    width: 335px;
    height: 50px;
}

.input-grp label {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    padding-left: 10px;
    padding-right: 14px;
    color: #626262;
    background-color: #fff;
    z-index: 1;
    top: -7px;
    left: 20px;
}

/* Pagination*/
.nav-pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
    .nav-pagination .current {
        width: 22px !important;
        height: 8px !important;
        border-radius: 4px !important;
        border: 2px solid #111111 !important;
        background-color: #fff !important;
    }

    .nav-pagination .dots {
        width: 6px;
        height: 6px;
        background-color: #111111;
        border-radius: 50%;
        padding: 0;
    }

.stars {
    display: flex;
    align-items: center;
    color: #FFBE00;
}

    .stars p {
        color: #111111;
        margin: 0;
    }

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-card {
    height: 248px;
    width: 160px;
}

    .product-card .product-image {
        background-color: #DBE3F5;
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }

        .product-card .product-image button {
            border: none;
            background-color: transparent;
            margin-top: 0.5rem;
            margin-right: 5px;
        }

        .product-card .product-image span {
            position: absolute;
            font-size: 8px;
            font-weight: 800;
            width: 33px;
            height: 16px;
            background-color: #69864D;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
        }

    .product-card .product-content {
        margin-top: 5px;
    }

        .product-card .product-content .stars {
            font-size: 12px;
        }

        .product-card .product-content p {
            font-size: 14px;
            margin: 0;
        }

        .product-card .product-content .price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

            .product-card .product-content .price .original-price {
                text-decoration: line-through;
                font-size: 12px;
            }

            .product-card .product-content .price .discount-price {
                margin-left: 8px;
            }

            .product-card .product-content .price .discount {
                color: #F4303C;
            }

/* Grundstilar för navigationen */
.navbar .navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed; /* Gör navigationen sticky */
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

.nav-links {
    color: black; /* Byt till root-färg när root är klar */
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;    
}

.nav-links:active, .nav-links:hover {
    background-color: #DBE3F5; /* Byt till root-färg när root är klar */
 }


/* Go back navbar */
.go-back-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 12px;
}

    /* first position, the back arrow */
    .go-back-navbar .first {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: transparent;
        border: none;
        text-align: start;
    }

@media (min-width: 1200px) {
    .go-back-navbar .first {
        display: none;
    }
}

.go-back-navbar .first i {
    color: #111111;
}

/* second position, title */
.go-back-navbar .middle {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 18px;
    font-style: "Mulish", sans-serif;
    font-weight: 600;
    color: #111111;
    text-align: center;
}

@media (min-width: 1200px) {
    .go-back-navbar .middle {
        font-size: 48px;
    }
}

/* last position, the shopping cart etc. */
.go-back-navbar .last {
    grid-column-start: 4;
    grid-column-end: -1;
    text-align: end;
    display: none;
}

.sign-in .container .sign-in-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section {
        border: 1px solid #DBE3F5;
        padding: 80px;
    }
}

.sign-in .container .sign-in-section .sign-in-title {
    font-size: 32px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section .sign-in-title {
        font-size: 36px;
    }
}

.sign-in .container .sign-in-section .sign-in-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    font-family: "Mulish", sans-serif;
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section .sign-in-text {
        font-size: 18px;
    }
}

.sign-in .container .sign-in-section .input-grp {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section .input-grp {
        width: 600px;
        margin-bottom: 45px;
    }
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section .input-grp input {
        width: 100%;
    }
}

.sign-in .container .sign-in-section .input-grp button {
    background-color: transparent;
    border: none;
}

    .sign-in .container .sign-in-section .input-grp button i {
        position: absolute;
        right: 30px;
        top: 18px;
        font-size: 1.1rem;
    }

.sign-in .container .sign-in-section .input-grp i {
    position: absolute;
    right: 30px;
    top: 18px;
    font-size: 1.1rem;
}

.sign-in .container .sign-in-section .remember-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

    .sign-in .container .sign-in-section .remember-password div #rememberMe {
        cursor: pointer;
    }

    .sign-in .container .sign-in-section .remember-password div label {
        color: #626262;
        font-size: 16px;
        font-weight: 400;
        font-family: "Mulish", sans-serif;
        padding-left: 12px;
        padding-bottom: 5px;
    }

    .sign-in .container .sign-in-section .remember-password a {
        color: #111111;
        font-style: "Mulish", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 5px;
    }

.sign-in .container .sign-in-section .button-theme:hover {
    background-color: #626262;
    transition: ease-in-out 0.2s all;
}

@media (min-width: 1200px) {
    .sign-in .container .sign-in-section .button-theme {
        width: 100%;
    }
}

.sign-in .container .sign-in-section .create-account {
    margin-top: 18px;
    margin-bottom: 35px;
}

    .sign-in .container .sign-in-section .create-account a:hover {
        text-decoration: underline;
        color: #111111;
    }

.sign-in .container .sign-in-section .sign-in-with {
    display: flex;
    align-items: center;
}

    .sign-in .container .sign-in-section .sign-in-with .facebook {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3B5999;
    }

        .sign-in .container .sign-in-section .sign-in-with .facebook i {
            font-size: 1.3rem;
        }

    .sign-in .container .sign-in-section .sign-in-with .twitter {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #55ACEE;
    }

        .sign-in .container .sign-in-section .sign-in-with .twitter i {
            font-size: 1.3rem;
        }

    .sign-in .container .sign-in-section .sign-in-with .google {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #DD4B39;
    }

        .sign-in .container .sign-in-section .sign-in-with .google i {
            font-size: 1.3rem;
        }
.welcome-page {
    background-color: #DBE3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .welcome-page .loader {
        height: 140px;
        width: 140px;
    }

        .welcome-page .loader .outer-ring {
            position: relative;
            width: 130px;
            height: 130px;
            background-color: #DBE3F5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: width 1s ease-in-out;
        }

            .welcome-page .loader .outer-ring::before {
                content: "";
                position: absolute;
                border: 4px solid #fff;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                animation: scale-ring 1s infinite alternate;
            }

            .welcome-page .loader .outer-ring span {
                position: absolute;
                border: 1px solid #111111;
                border-radius: 3px;
                width: 18px;
                height: 5px;
                top: 30px;
            }

            .welcome-page .loader .outer-ring h1 {
                font-size: 38px;
                font-weight: 600;
                position: absolute;
            }

            .welcome-page .loader .outer-ring .middle-ring {
                width: 95px;
                height: 95px;
                background-color: #fff;
                border-radius: 50%;
            }

    .welcome-page .welcome-navigation {
        display: none;
        position: absolute;
        bottom: -50px;
    }

        .welcome-page .welcome-navigation .outer-ring {
            position: relative;
            border: 4px solid #fff;
            height: 475px;
            width: 475px;
            background-color: #DBE3F5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .welcome-page .welcome-navigation .outer-ring .middle-ring {
                position: relative;
                width: 415px;
                height: 415px;
                background-color: #fff;
                border-radius: 50%;
                padding-top: 2.5rem;
                padding-left: 3.5rem;
                overflow: hidden;
            }

                .welcome-page .welcome-navigation .outer-ring .middle-ring .circles {
                    display: flex;
                    justify-content: flex-start;
                    gap: 4.5rem;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                }

                    .welcome-page .welcome-navigation .outer-ring .middle-ring .circles::-webkit-scrollbar {
                        height: 0;
                    }

                    .welcome-page .welcome-navigation .outer-ring .middle-ring .circles .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        scroll-snap-align: start;
                    }

                        .welcome-page .welcome-navigation .outer-ring .middle-ring .circles .content:last-child {
                            margin-right: 3.35rem;
                        }

            .welcome-page .welcome-navigation .outer-ring .vertical-line {
                background-color: #111111;
                border-radius: 3px;
                width: 1px;
                height: 30px;
                margin-bottom: 1rem;
            }

            .welcome-page .welcome-navigation .outer-ring .horizontal-line {
                background-color: #111111;
                border-radius: 3px;
                width: 134px;
                height: 5px;
                margin-top: 5rem;
            }

            .welcome-page .welcome-navigation .outer-ring h1 {
                font-size: 32px;
                font-weight: 700;
                width: 250px;
            }

            .welcome-page .welcome-navigation .outer-ring p {
                width: 305px;
                margin: 0;
                margin-bottom: 2rem;
            }

            .welcome-page .welcome-navigation .outer-ring .button-theme {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 255px;
                text-decoration: none;
            }

            .welcome-page .welcome-navigation .outer-ring .nav-pagination {
                position: absolute;
                bottom: 70px;
                left: 185px;
                margin-top: 1.5rem;
            }

@keyframes scale-ring {
    0% {
        height: 130px;
        width: 130px;
    }

    100% {
        height: 160px;
        width: 160px;
    }
}


/* Section-order-failed-successful */
.section-order-failed-successful .container {
    text-align: center;
}

    .section-order-failed-successful .container .order-line {
        height: 25px;
        color: #111111;
        border-left: 1.5px solid #111111;
    }

    .section-order-failed-successful .container img {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .section-order-failed-successful .container h2 {
        font-size: 22px;
        font-weight: 700;
    }

    .section-order-failed-successful .container p {
        color: #626262;
        font-size: 16px;
        font-weight: 400;
    }

.filter .toggle-size {
    height: 50px;
    width: 50px;
    color: black !important;
    display: flex;
}

.filter .btn-check + label {
    border-color: #DBE3F5;
}

.filter .btn-check:hover + label {
    border-color: #DBE3F5;
}

.filter .btn-check:checked + label {
    background-color: #DBE3F5;
    border-color: #DBE3F5;
}

.filter .tag-toggle {
    display: flex;
    border-radius: 50px;
}

.filter .legend > div::before {
content: '$';
}

/* Sign up Design start */
.sign-up .container .sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section {
        border: 1px solid #DBE3F5;
        padding: 80px;
    }
}

.sign-up .container .sign-up-section .sign-up-title {
    font-size: 32px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    margin-bottom: 25px;
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section .sign-up-title {
        font-size: 36px;
    }
}

.sign-up .container .sign-up-section .input-grp {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section .input-grp {
        width: 600px;
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section .input-grp input {
        width: 100%;
    }
}

.sign-up .container .sign-up-section .input-grp button {
    background-color: transparent;
    border: none;
}

    .sign-up .container .sign-up-section .input-grp button i {
        position: absolute;
        right: 30px;
        top: 18px;
        font-size: 1.1rem;
    }

.sign-up .container .sign-up-section .input-grp i {
    position: absolute;
    right: 30px;
    top: 18px;
    font-size: 1.1rem;
}

.sign-up .container .sign-up-section .button-theme:hover {
    background-color: #626262;
    transition: ease-in-out 0.2s all;
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section .button-theme {
        width: 100%;
    }
}

.sign-up .container .sign-up-section .have-account {
    margin-top: 18px;
    margin-bottom: 35px;
    width: 100%;
    color: #626262;
    padding-left: 20px;
}

@media (min-width: 1200px) {
    .sign-up .container .sign-up-section .have-account {
        width: auto;
    }
}

@media (min-width: 992px) {
    .sign-up .container .sign-up-section .have-account {
        width: auto;
    }
}

@media (min-width: 768px) {
    .sign-up .container .sign-up-section .have-account {
        width: auto;
    }
}

.sign-up .container .sign-up-section .have-account a:hover {
    text-decoration: underline;
    color: #111111;
}

.sign-up .container .sign-up-section .sign-up-with {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

    .sign-up .container .sign-up-section .sign-up-with .facebook {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3B5999;
    }

        .sign-up .container .sign-up-section .sign-up-with .facebook i {
            font-size: 1.3rem;
        }

    .sign-up .container .sign-up-section .sign-up-with .twitter {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #55ACEE;
    }

        .sign-up .container .sign-up-section .sign-up-with .twitter i {
            font-size: 1.3rem;
        }

    .sign-up .container .sign-up-section .sign-up-with .google {
        margin: 5px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #DBE3F5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #DD4B39;
    }

        .sign-up .container .sign-up-section .sign-up-with .google i {
            font-size: 1.3rem;
        }

.top-bar {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #DBE3F5;
}

    .top-bar .container {
        display: flex;
        justify-content: space-between;
        margin-top:1rem;
    }

    .top-bar button {
        border: none;
        background-color: transparent;
    }

    .top-bar .logo {
        position: relative;
    }

        .top-bar .logo span {
            position: absolute;
            top: -2px;
            left: 48%;
            display: block;
            width: 9px;
            height: 2px;
            background-color: #111111;
            border-radius: 4px;
        }

        .top-bar .logo h4 {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

.showcase-categories .container {
    display: flex;
    gap: 1rem;
    margin-top:1rem;
}

.showcase-categories .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .showcase-categories .category .circle {
        width: 70px;
        height: 70px;
        background-color: #DBE3F5;
        border-radius: 50%;
    }

    .showcase-categories .category p {
        font-size: 14px;
        font-weight: 600;
    }

.showcase .container {
    height: 150px;
    width: 335px;
    background-color: #DBE3F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2rem;
    gap: 0.3rem;
    margin-top: 1rem;
}

.showcase h1 {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.showcase .button-theme {
    width: 150px;
    background-color: #fff;
    color: #111111;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-products {
    margin-top: 2rem;
}
.featured-products .section-title {
    display: flex;
    justify-content: space-between;
}

    .featured-products .section-title h3 {
        font-size: 20px;
        font-weight: 800;
    }

    .featured-products .section-title i {
        font-size: 12px;
        margin-left: 5px;
    }

.best-sellers{
    margin-top:2rem;
}
.best-sellers .section-title {
    display: flex;
    justify-content: space-between;
}

    .best-sellers .section-title h3 {
        font-size: 20px;
        font-weight: 800;
    }

    .best-sellers .section-title i {
        font-size: 12px;
        margin-left: 5px;
    }

.best-sellers .product-grid {
    grid-template-columns: 1fr;
    gap:20px;
}

    .best-sellers .product-grid .product-card {
        position: relative;
        width: 330px;
        height: 100px;
        display: flex;
    }

        .best-sellers .product-grid .product-card .product-image {
            height: 100px;
            width: 100px;
        }

            .best-sellers .product-grid .product-card .product-image button {
                position: absolute;
                top: 0;
                right: -230px;
                margin: 0;
            }

                .best-sellers .product-grid .product-card .product-image button:last-child {
                    margin-top: 2rem;
                }

        .best-sellers .product-grid .product-card .product-content {
            position: relative;
            margin: 0;
            margin-left: 20px;
        }

            .best-sellers .product-grid .product-card .product-content .stars {
                position: absolute;
                bottom: 20px;
            }

.bar {
    margin: 3rem 0;
}

    .bar .container {
        width:335px;
        background-color: #DBE3F5;
        height: 80px;
    }

