@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section-checkout-payment">
    <div class="container">
        <div class="payment-method">
            <a href=""><i class="fa-solid fa-arrow-left"></i></a>
            <h1>Payment method</h1>
        </div>
        <div class="payment-credit">
            <h2>Credit cards</h2>
            <div class="credit-cards">
                <p>7741 ******** 6644</p>
                <button></button>
            </div>
            <div class="credit-cards">
                <p>7674 ******** 1884</p>
                <button></button>
            </div>
        </div>

        <div class="payment-apple">
            <h2>Apple Pay</h2>
            <button></button>
        </div>

        <div class="payment-paypal">
            <h2>Pay Pal</h2>
            <button></button>
        </div>

        <div class="payment-cash">
            <h2>Cash</h2>
            <button></button>
        </div>

    </div>
</section>
