@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section-checkout-payment">
    <div class="conatiner">
        <div class="payment-method mb-4">
            <a href=""><i class="fa-solid fa-arrow-left"></i></a>
            <h1>Payment method</h1>
        </div>
    </div>
    <div class="payment-credit">
        <div class="payment-credit-border d-flex align-items-center">
            <h2 class="container ">Credit cards</h2>
        </div>
        <div class="payment-credit-border d-flex align-items-center">
            <div class="container d-flex justify-content-between">
                <p class="my-0">7741 ******** 6644</p>
                <label for="">
                    <input class="payment-radio-style" type="radio" name="radio">
                </label>
            </div>
        </div>
        <div class="payment-credit-border d-flex align-items-center">
            <div class="container d-flex justify-content-between">
                <p class="my-0">7674 ******** 1884</p>
                <label for="">
                    <input class="payment-radio-style" type="radio" name="radio">
                </label>
            </div>
        </div>
    </div>

    <div class="payment-apple d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <h2>Apple Pay</h2>
            <label for="abd">
                <input class="payment-radio-style" type="radio" name="radio">
            </label>
        </div>
    </div>

    <div class="payment-paypal d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <h2>Pay Pal</h2>
            <label for="">
                <input class="payment-radio-style" type="radio" name="radio">
            </label>
        </div>
    </div>

    <div class="payment-cash d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <h2>Cash</h2>
            <label for="">
                <input class="payment-radio-style" type="radio" name="radio">
            </label>
        </div>
    </div>
</section>
