@{
    ViewData["Title"] = "Shoppingcart";
}


<section class="shoppingcart">
    <div class="container">
        <img src="./images/Ellipse 30.svg">

        <p class="empty-message">Your cart is empty!</p>
        <div class="check-order">
            <p class="ordertest">Looks like you haven't made your order yet.</p>
        </div>
    </div>
</section>

<partial name="/Views/Partials/_NavbarPartial.cshtml" />