@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section-checkout-shipping">
    <div class="container">
        <div class="shipping-details mb-4">
            <a href=""><i class="fa-solid fa-arrow-left"></i></a>
            <h1>Shipping details</h1>
        </div>
    </div>
    <div class="blue-box"></div>
    <div class="shipping-border">
        <div class="container d-flex justify-content-between my-0">
            <h2>Home</h2>
            <label for="">
                <input type="radio" name="radio" >
            </label>
            <p>8000 S Kirkland Ave, Chicago...</p>
        </div>
    </div>
    <div class="shipping-border">
        <div class="container d-flex justify-content-between my-0">
            <h2>Work</h2>
            <label for="">
                <input type="radio" name="radio" >
            </label>
            <p>8000 S Kirkland Ave, Chicago...</p>
        </div>
    </div>
    <div class="shipping-border">
        <div class="container d-flex justify-content-between my-0">
            <h2>Other</h2>
            <label for="">
                <input type="radio" name="radio" >
            </label>
            <p>8000 S Kirkland Ave, Chicago...</p>
        </div>
    </div>
    <div class="shipping-adress">
        <div class="container">
            <h3 class="mt-3">ENTER AN ADDRESS</h3>
            <div class="d-flex justify-content-between ">
                <p class="pl-3">3646 S 58th Ave, Cicero, IL 608...</p>               
                <label for="">
                    <input type="radio" name="radio" >
                </label>
            </div>
            <label class="d-flex align-items-center" for="">
                <input type="checkbox" name="checkbox" ><span>Use current location</span>
            </label>
        </div>
    </div>
    <div style="height: 50px;"></div>
</section>