@model MyPromoViewModel

<section class="section-mypromocodes">
    <div class="container">
        <div class="header-mypromocodes">
            <a asp-controller="profilepage"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>My Promocodes</h1>
        </div>
    </div>

    <div class="header-btg mt-4 mb-4">
        <button class="mx-1 promocodes-btg-black">Current</button>
        <a asp-controller="mypromocodesused"><button class="mx-1 promocodes-btg-blue">Used</button></a>
    </div>
    <partial name="/Views/Partials/_MyPromocodesPartial_1.cshtml" />
    <partial name="/Views/Partials/_MyPromocodesPartial_2.cshtml" />
    <partial name="/Views/Partials/_MyPromocodesPartial_3.cshtml" />

</section>
