@{
    ViewData["Title"] = "My Promocodes";
}

<section class="section-mypromocodes">
    <div class="container">
        <div class="header-mypromocodes">
            <a asp-controller="profilepage"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>My Promocodes</h1>
        </div>
    </div>

    <div class="header-btg mt-4 mb-4">
        <button class="mx-1 promocodes-btg-black">Current</button>
        <button class="mx-1 promocodes-btg-blue">Used</button>
    </div>

    <div class="promocodes-discount">
        <div class="container">
            <div class="promcodes-blue-square"></div>
            <div class="discount-text">
                <p class="discount-first-text">Acme Co.</p>
                <p class="discount-second-text text-danger">50% off</p>
                <p class="discount-thrid-text">Vaild until June 30, 2022</p>
            </div>
            <a href=""><i class="fa-light fa-square"></i></a>
        </div>
    </div>

    <div class="promocodes-discount">
        <div class="container">
            <div class="promcodes-blue-square"></div>
            <div class="discount-text">
                <p class="discount-first-text">Abstergo Ltd.</p>
                <p class="discount-second-text text-warning">30% off</p>
                <p class="discount-thrid-text">Vaild until June 30, 2022</p>
            </div>
            <a href=""><i class="fa-light fa-square"></i></a>
        </div>
    </div>

    <div class="promocodes-discount promcodes-border">
        <div class="container">
            <div class="promcodes-blue-square"></div>
            <div class="discount-text">
                <p class="discount-first-text">Barone LLC.</p>
                <p class="discount-second-text text-success">15% off</p>
                <p class="discount-thrid-text">Vaild until June 30, 2022</p>
            </div>
            <a href=""><i class="fa-light fa-square"></i></a>
        </div>
    </div>
</section>
